.section{style: 'border-bottom: 1px solid #ecf0f1;'}
  .wrapper
    .section-title
      %h1
        Продажа готовых фирм с историей
        %br
        от
        %span.light 30 000 рублей

.section{style: 'padding-top: 10px; padding-bottom: 25px; border-bottom: 1px solid #ecf0f1;'}
  .wrapper
    .section-title
      %h3
        Почему стоит купить фирму с историей у компании "Горком"
    .blocks{style: 'margin-top: 50px;'}
      .block
        .icon.check
        .content
          Каждая компания прошла проверку в контролирующих органах

      .block
        .icon.case
        .content
          100% гарантия отсутствия задолженностей

      .block.last
        .icon.clock
        .content
          Приобретение новой фирмы не займет больше часа


.section
  .wrapper
    .call-to-action
      8 (495) 768 96 67
    .button
      Заказать звонок